input[type=text], input[type=password]
{
width:40%;
}
.form{
margin-left:30%;
margin-top:20%;
}
input[type=submit]{
background-color:#009587;
color:white;
font:sans-sarif;
font:bold;
width:20%;
}
input[type=submit]:hover{
	background-color:#4BBEDB;

}
.he
{
margin-top:-1%;
}



.reg
{
background-color:#009587;
color:white;
font:sans-sarif;
font:bold;
width:20%;
}
.heade{
margin-left:2%;
}

